html {
    background-image: url(flowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    padding-bottom: 15px;
    font-style:normal;
}

body {
    border: 6px outset hsla(0,60%,70%, .4);
    box-shadow: 6px 4px 8px;
    text-align: center;
    font-family: palatino, helvetica, verdana, 'lucida console';
    font-size: 20px;
    font-style:italic;
    line-height: 1.6;
}

button {
    margin-top: 30px;
    font-size: 48px;
    border: 3px inset rgb(96, 81, 62);
    background-color: rgb(240, 235, 237);
    padding: 10px;
}

button:hover {
    background-color: rgb(235, 226, 146);
    border: 3px outset rgb(96, 81, 62);
    cursor: pointer;
}

#fortune {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'apple chancery';
    font-size: 30px;
    font-style: bold;
    color: rgb(121, 39, 57);
}